<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="/users/register" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="nombre">
        <br>
        <input type="text" name="edad" placeholder="edad">
        <br>
        <input type="email" name="email" placeholder="mail">
        <input type="password" name="password" placeholder="contraseña">
        <input type="file" name="imagen">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>