<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>users</h1>
    <p><%= archivoUsuario[0].imagen %></p>
    <h2>gola</h2>
    <img src="<%= archivoUsuario[0].imagen %>" alt="">
  </body>
</html>
