<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/users/login" method="POST">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <input type="checkbox" name="recordame">
        <label for="">Recordame</label>
        <button type="submit">Logearse</button>
    </form>
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red;">ERROR</p>
        <ul>
            <% for (let i=0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i].msg %>
                </li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>