<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <ul class="nav-bar">
      <li><a href="/">Inicio</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>

    <img src="/images/node.jpg" alt="node" width="400" id="logo-node">
    <p>Este es el index de la aplicacion</p>
    <p class="parrafo-especial">Lorem ipsum, <strong>texto en negrita</strong> adipisicing elit. Facilis eos commodi hic numquam architecto praesentium optio iure, dolor sunt libero dolorem molestiae repudiandae facere laboriosam exercitationem dolore adipisci aliquid totam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias fugit repudiandae dolore? Fuga culpa dolore quae magnam recusandae dicta, a, rem fugit quod vel harum rerum doloribus et voluptatibus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse minus mollitia ex magni, cupiditate recusandae sint deserunt commodi quod aperiam! Tempora quos assumenda blanditiis nam corrupti nobis id neque? Aut.</p>
    <script type="text/javascript" src="/javascripts/js-front.js"></script>
  </body>
</html>
