<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p>aaa</p>
    <script type="text/javascript">
      console.log('Este es un script');
      let nombre = "Diego";
      console.log("Hola soy " + nombre);
      console.log(4 % 2);
    </script>
  </body>
</html>
