<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Pelicula</h1>

    <form action="/movies/add" method="POST">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="rating" name="rating">
        <input type="text" placeholder="length" name="length">
        <input type="date" name="release_date">
        <input type="text" placeholder="awards" name="awards">
        <button type="submit">Agregar Pelicula</button>
    </form>
</body>
</html>